@media screen and(min-width: 960px) and (max-width: 1199px) {
    
    .about {
        margin-top: 45px;
        width: 100%;
        background-color: #7fff005c;
        background-image: url('~@/assets/img/textArea.jpg');
        // background-size: 100%;
        background-repeat: no-repeat;
            background-position: center;
            // background-size: cover;
            background-size: 100% 100%;
        .feature{
            width: 66%;
        margin: 0 auto;
        padding: 30px 0;
        color: #424242;
        }
        

        .feature-info {
            // margin-bottom: 24px;
            font-weight: 900;
            font-size: 36px;
            text-align: center;
        }
    }
}