@media screen and (min-width: 1200px) {
    .footer {
        margin-top: 100px;
        word-spacing: normal;
        color: #666666;
        box-sizing: border-box;
        background-color: #e5a6ec78;

        .feedback-container {
            max-width: 1300px;
            position: relative;
            margin: 0 auto;

            .part {
                width: 100%;
                display: flex;
                padding: 0 64px;
                .column {
                    width: 25%;
                }

                .Logo {

                    width: 200px;
                    height: 100px;
                    background-color: aqua;

                }

                .contact {
                    width: 25%;
                    position: relative;
                    min-height: 1px;
                    display: flex;


                    position: relative;

                    .item-group {
                        width: 100%;
                        padding: 30px;

                        div {
                            font-size: 18px;
                            font-weight: 500;

                            a {
                                display: inline-block;
                                width: 100%;
                                margin-bottom: 17px;
                            }
                        }
                    }
                }

                .companyInfo {
                    width: 25%;
                    position: relative;
                    min-height: 1px;
                    display: flex;

                    .info-wrap {
                        width: 100%;
                        padding: 30px;

                        .item-info {
                            .content {}

                            .title {
                                color: #aaaaaa;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 1.5em;
                            }
                        }
                    }
                }
            }
            .notic{
                
                display: flex;
                margin-top: 10px;
                border-top: 1px solid #b5b5b5;
                font-size: 16px;
                justify-content: space-between;
                div{
                    // flex: 1;
                    padding:10px 0;
                    
                }

            }
        }
    }
}